/* import fonts */
@import url('bonny.css');
/* My Styles */

body {
    font-family: sans-serif;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background: rgb(247, 144, 130);
}

img {
    height: 100%;
    object-fit: cover;
    float: right;
    /* filter: brightness(.2); */
}

h1 {
    font-size: 40px;
    font-family: 'Bonny-Bold';
    text-align: center;
}

nav {
    font-family: 'Bonny-Variable';
}

.image {
    position: fixed;
    width: 50%;
    height: 100%;
    z-index: -5;
}

@media only screen and (min-width: 800px) {
    img {
        object-fit: cover;
        height: auto;
        width: 100%;
    }
    article {
        padding: 10px;
    }
  }

article {
    position: fixed;
    right: 1vmin;
    width: 50%;
    max-width: 500px;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    width: 200px;
    padding: 5px;
    }
}

.line {
    background:white;
    height: 1px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    color: rgb(106, 13, 13);
}

/* animations */
